.App {
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.Input {
  width: 50px;
  height: 25px;
}

.decrement {
  background-color: grey;
  color: white;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}

.increment {
  background-color: grey;
  clor: white;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.reset {
  background-color: green;
  clor: white;
  margin-top: 10px;
  height: 30px;
  width: 60px;
}

.h1 {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
